<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Nike</title>
    <link rel="shortcut icon" href="./assets/img/logo nike.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>

<body class="background-body">
    <div id="app">
        <header class="pt-4" id="home">
            <nav class="d-flex justify-content-around nav-desktop navbar">
                <div>
                    <img src="./assets/img/logo nike.png" alt="Logo Nike" class="logo-nike-header">
                </div>
                <nav class="d-flex gap-4">
                    <li><a href="#home" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="#about" class="text-light text-decoration-none">About</a></li>
                    <li><a href="#comments" class="text-light text-decoration-none">Comments</a></li>
                    <li><a href="./login.html" class="text-light text-decoration-none">Products</a></li>
                </nav>
                <div>
                    <a href="./login.html" class="btn-login">Login</a>
                </div>
            </nav>
    
            <!-- Nav Mobile -->
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <div class="d-flex justify-content-center">
                    <img class="image-navbar mb-4" src="./assets/img/logo nike.png" alt="Image Navbar" style="width: 5rem;">
                </div>
                <div class="d-flex ps-3">
                    <li><a href="#home" class="text-light text-decoration-none">Home</a></li>
                </div>
                <div class="d-flex ps-3">
                    <li><a href="#about" class="text-light text-decoration-none">About</a></li>
                </div>
                <div class="d-flex ps-3">
                    <li><a href="#comments" class="text-light text-decoration-none">Comments</a></li>
                </div>
                <div class="d-flex ps-3">
                    <li><a href="./login.html" class="text-light text-decoration-none">Products</a></li>
                </div>
            </div>
    
            <div class="d-flex justify-content-between align-items-center">
                <div id="main">
                    <button class="openbtn rounded ms-3" onclick="openNav()">☰</button>
                </div>
    
                <div class="d-flex pe-3 pt-3 btn-login-hide">
                    <a class="btn-login-responsive mb-3" href="./login.html">Login</a>
                </div>
            </div>
        </header>
    
        <main>
            <section class="d-lg-flex justify-content-center section-main">
                <div class="text-section-header">
                    <h2>Summer</h2>
                    <h2>Collections</h2>
                    <h3>2023</h3>
                    <a href="./products.html" class="btn-buy">Buy</a>
                </div>
    
                <div>
                    <img src="./assets/img/shoes-header.png" alt="Shoes header" class="img-header">
                </div>
            </section>
    
            <section>
                <h5 class="text-white fs-2 ms-5 ps-5 mb-4" >Popular <span>Products</span></h5>
                <div class="d-flex justify-content-center gap-5 flex-wrap">
                    <div class="text-white card-shoes" v-for="shoe in shoesMain">
                        <div class="d-flex justify-content-center img-products">
                            <img :src="shoe.image" class="p-2" :alt="shoe.name">
                        </div>
                        <div class="background-products">
                            <p class="ms-3 pt-2">{{shoe.name}}</p>
                            <div class="d-flex justify-content-around">
                                <p class="fw-bold">$ {{shoe.price}}</p>
                                <p class="buy-products" @click="loginHome">Add Cart</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                
            <section class="mt-5" id="about">
                <h3 class="title-sections">About</h3>
                <div class="d-flex flex-column mx-auto mt-5">
                    <div class="d-flex about-section">
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-about" src="./assets/img/shoe-about-one.png" alt="Image About">
                        </div>
                        <div class="col-6 d-flex flex-column gap-5 pr" style="padding-right: 8rem;">
                            <h5 class="text-light fs-3">We Provide <span>High</span> Quality Shoes.</h5>
                            <div>
                                <p class="text-light">If you are looking for a pair of high quality shoes, we assure you that our shoes are an excellent choice. Made from premium materials and carefully designed to ensure long-lasting comfort, our shoes not only look amazing, but are also incredibly comfortable.</p>
                                <p class="text-light">Our shoes are handcrafted with high quality leather and with the attention to detail that only an experienced craftsman can provide. Each pair of shoes we create is unique, which means you won't find two pairs alike. Plus, our soles are designed to offer superior cushioning and solid traction, which means you'll be able to walk confidently and comfortably all day long.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-5 pt-4 about-section">
                        <div class="col-6 d-flex flex-column gap-5" style="padding-left: 8rem;">
                            <h5 class="text-light fs-3">Get to Know Our Feature <span>Product.</span></h5>
                            <div>
                                <p class="text-light">Welcome to our shoe store! Here in our space, we are committed to helping you find the perfect pair of shoes for you, and to that end, our staff is highly trained in shoe knowledge..</p>
                                <p class="text-light">Our sales team is not only here to help you find the perfect shoe, but also to help you find the perfect fit. We know that not all brands have the same fit and that finding the right shoe can be a challenging task. That's why our staff will spend as much time as you need to make sure you find the pair of shoes that fits your foot perfectly.</p>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-about" src="./assets/img/shoe-about-two.png" alt="Image About">
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="comments">
                <h3 class="title-sections mt-5">Comments</h3>
                <div class="section-comments mx-auto">
                    <h5 class="text-light fs-2 pt-4 ps-4">What Our <span>Customer Says</span></h5>
                    <div class="d-flex mt-4">
                        <div class="text-white col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="img-people">
                                <img src="./assets/img/people-1.jpg" alt="User Comment">
                            </div>
                            <p class="orange-name fs-4 mt-2">Isabella</p>
                            <p class="text-center w-50">For me, shoes are not just a wardrobe piece, they are a form of expression. I love to play with different styles, colors and textures to create a look that is unique and personal, and I get that from Nike. </p>
                        </div>
                        <div class="text-white col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="img-people">
                                <img src="./assets/img/people-2.jpg" alt="User Comment">
                            </div>
                            <p class="orange-name fs-4 mt-2">Fiorella</p>
                            <p class="text-center w-50">Shoe shopping is more than a chore, it's an adventure. I love exploring new stores and brands, and discovering styles I didn't know before. But with Nike I've decided to stay.</p>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="mt-5">
                <div class="">
                    <div class="d-flex flex-column col-lg-6 text-center mt-5 mb-3">
                        <h2 class="text-white">Receive<span class="orange-name"> Updates </span>& NewsLetter</h2>
                    </div>
                    <form class="d-flex align-items-center justify-content-center" @submit.prevent="sendEmail">
                        <input class="inputEmail col-lg-4" type="email" placeholder="Your email" v-model="emailUser">
                        <input type="submit" class="btn-submit">
                    </form>
                </div>
            </section>
    
            <footer class="mt-5">
                <div class="bg-dark d-flex justify-content-around gap-3 p-4">
                    <div>
                        <img src="./assets/img/logo nike.png" alt="Logo Nike" class="logo-nike-header">
                        <p class="text-white fs-3">Shoes Quality</p>
                    </div>
                    <div>
                        <div class="d-flex gap-2">
                            <a href="https://www.linkedin.com/in/sebastianvalbuenaacosta/" target="_blank"><i class='bx bxl-linkedin-square fs-1 text-white' ></i></a>
                            <a href="https://www.instagram.com/sebastianvalbuena9246/" target="_blank"><i class='bx bxl-instagram-alt fs-1 text-white' ></i></i></a>
                            <a href="https://github.com/sebastianvalbuena7" target="_blank"><i class='bx bxl-github fs-1 text-white'></i></a>
                        </div>
                        <div>
                            <h5 class="text-white">Developed by: Sebastian Valbuena</h5>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-white text-copyright">&#169 2023 Copyright Content - Sebastian Valbuena</p>
                </div>
            </footer>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="./assets/js/index.js"></script>
</body>
</html>