@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap');
body {
    font-family: 'Kanit', sans-serif;
}

li {
    list-style: none !important;
    font-weight: 500;
    font-size: 1.5rem;
}

li a:hover {
    color: rgb(219, 219, 219) !important;
    transition: 0.3s all linear;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: black;
}


html::-webkit-scrollbar-thumb{
    background: #FF4B1F;
}


.background-body {
    background-image: url(../img/background-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-login {
    padding: 0.5rem;
    padding-left: 2rem;
    letter-spacing: 1px;
    padding-right: 2rem;
    border-radius: 0.4rem;
    background: linear-gradient(#FF4B1F, #A22B00);
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-login:hover {
    background: linear-gradient(#FF4B1F, #862400);
    transition: 0.3s all linear;
}

.btn-login-responsive {
    padding: 0.5rem;
    padding-left: 1rem;
    letter-spacing: 1px;
    padding-right: 1rem;
    border-radius: 0.4rem;
    background: linear-gradient(#FF4B1F, #A22B00);
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    width: 100%;
}

.logo-nike-header {
    width: 6rem;
}

.img-header {
    width: 40rem;
}

.text-section-header h2{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 5rem;
}

.text-section-header h3 {
    color: #FF4B1F;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 5.5rem;
}

.section-main {
    margin-top: 5rem;
}

@media (max-width: 900px) {
    .section-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-main img{
        width: 23rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .section-main h2, h3 {
        font-size: 4rem;
    }
}

.btn-buy {
    background: rgb(21,19,46);
    background: linear-gradient(90deg, rgba(21,19,46,1) 0%, rgba(190,38,41,1) 0%, rgba(0,91,255,1) 100%);
    color: white;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-buy:hover {
    background: linear-gradient(90deg, rgba(21,19,46,1) 0%, rgb(184, 22, 25) 0%, rgb(0, 67, 190) 100%);
    transition: 0.3s all linear;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(255, 81, 0, 0.534);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(#FF4B1F, #A22B00);
    color: white;
    padding: 10px 15px;
    border: none;
}

@media (max-width: 900px) {
    .nav-desktop {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .sidebar {
        display: none !important;
    }

    .openbtn {
        display: none !important;
    }
    .btn-login-hide {
        display: none !important;
    }
}

/* Main */
h5 span {
    color: #FF4B1F;
}

.card-shoes {
    width: 18rem;
    height: 17rem;
    /* background-color: #862400; */
}

.card-shoes img {
    width: 13rem;
}

.img-products {
    backdrop-filter: blur(10px) !important;
    border-radius: 1rem;
}

.background-products {
    background-color: #000000b6;
}

.buy-products {
    background: rgb(21,19,46);
    background: linear-gradient(120deg, rgba(21,19,46,1) 0%, rgba(190,38,41,1) 0%, rgba(0,91,255,1) 90%);
    color: white;
    text-decoration: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.buy-products:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(21,19,46,1) 0%, rgb(184, 22, 25) 0%, rgb(0, 67, 190) 100%);
    transition: 0.3s all linear;
}

/* About */
.title-sections {
    text-align: center;
    font-weight: bold;
    font-size: 8rem;
    -webkit-text-stroke: 2px #FF4B1F;
    color: transparent;
}

.img-about {
    width: 60vh;
    border-radius: 2rem;
}

@media (max-width: 950px) {
    .about-section {
        flex-direction: column;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center !important;
    }
    .about-section div {
        gap: 1rem !important;
        text-align: center;
        width: 100%;
        padding-left: 1rem !important;
        padding-right: 1rem;
    }
    .about-section div img {
        width: 15rem;
        margin-top: 1rem;
    }
    .about-section h5 {
        margin-top: 1rem;
    }
    .title-sections {
        font-size: 4.5rem;
    }
    .pr {
        padding-right: 0 !important;
    }
}

/* Comments */
.section-comments {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur( 7.5px );
    width: 45rem;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

@media (max-width: 900px) {
    .section-comments {
        width: 25rem;
    }
}

.img-people img{
    width: 4rem;
    border-radius: 0.5rem;
    border: #FF4B1F solid 3px;
}

.orange-name {
    color: #FF4B1F;
}

.inputEmail {
    background-color: #111111ef;
    border: none;
    height: 3rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

::placeholder {
    color: white;
    font-size: 1.5rem;
    padding: 0.2rem;
}

*:read-write {
    color: white;
}

.btn-submit {
    background: rgb(21,19,46);
    background: linear-gradient(90deg, rgba(21,19,46,1) 0%, rgba(190,38,41,1) 0%, rgba(0,91,255,1) 100%);
    color: white;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-submit:hover {
    background: linear-gradient(90deg, rgba(21,19,46,1) 0%, rgb(184, 22, 25) 0%, rgb(0, 67, 190) 100%);
    transition: 0.3s all linear;
}

/* Footer */
.text-copyright {
    background-color: #111;
    height: 3rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 0;
}

i:hover {
    color: #afafaf !important;
    transition: 0.3s all linear;
}